# Ignore Microsoft Word system files
*.tmp
~$*.doc*
Backup of *.doc*

# Ignore contents of derived private folder, with the exception of its readme file
data/derived/private/**
!readme.md

# Ignore contents of raw private folder, with the exception of its readme file
data/raw/private/**
!readme.md

# Ignore contents of scratch folder, with the exception of its readme file
data/scratch/**
!readme.md

# Ignore common R files
.Rproj.user
.Rhistory
.RData


data/raw/private/JohnDayWShed.zip
